/*variaveis*/

:root{
    --verde: rgb(66, 209, 0);
    --azul-escuro:#191970;	/*#000080*/
    --preto: #000000;
    --branco: rgb(240, 240, 240);
    --roxo:#6A5ACD;
    --cinza-escuro: #141d2a;
}



.fonte{
    /*font-family: 'IBM Plex Mono', monospace;*/
    /*font-family: 'Luckiest Guy';*/
    font-family: 'Passion One';
    /*font-family: 'Righteous', cursive;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Russo One', sans-serif;*/
    

    font-size: 2vh;
}

.fonte th{
    font-size: 2.3vh;
}

.fonte-2{
    font-family: 'Rubik', sans-serif;
}

.fonte p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
 
    
}

.fonte-bemvindo p{
    font-family: 'Passion One';
    font-size: 2.1vh;
}


/*--------------------------------------------------------------
#   HEADER
--------------------------------------------------------------*/
.nav-cor{
    background-color: var(--cinza-escuro);
    opacity: 0.996;
}

.cor-botoes{
    background-color: var(--verde);
    color: var(--branco);
    opacity: 0.9;
}

.barra-busca{
    width: 50%;
    margin-right: auto;
    opacity: 0.9;
}

.barra-opacidade{
    opacity: 0.3;
    
}

p.cor-user:hover{
    color: var(--verde);
}



/*--------------------------------------------------------------
#   CARROSSEl
--------------------------------------------------------------*/
.img-carrossel{
    object-fit: cover;
    object-position: center;
    height: 685px;
}


@media (max-width: 992px) {
    .img-carrossel{
       
        object-position: center;
        max-height: 525px;
       
    }
}

@media (max-width: 768px) {
    .img-carrossel{
       
        object-position: center;
        max-height: 445px;
       
    }

}

@media (max-width: 388px) {
    .img-carrossel{
       
        object-position: center;
        max-height: 525px;
       
    }
}



/*--------------------------------------------------------------
#   INDEX
--------------------------------------------------------------*/
.card-inteiro{
    width: 18rem;
    background-color: #6A5ACD;
}


.card-titulo{
    text-decoration: none;
    color: var(--branco);
}

a.card-titulo:hover {
    color: var(--verde);
}

.centro{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
}

.nao-entra{
    margin-top: 3.5rem;
}



/*INDEX mini-img*/
.cliens {
    padding: 12px 0;
    text-align: center;
    background-color: var(--cinza-escuro);
}
  
  .cliens img {
    max-width: 25%;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}
  
.cliens img:hover {
    filter: none;
    transform: scale(1.2);
}
  
@media (max-width: 768px) {
     .cliens img {
        max-width: 27%;
    }
}


/* INDEX Sobre*/
section {
    padding-bottom: 6rem; 
    padding-top: 6rem; 
    padding-left: auto;
    padding-right: auto;
    overflow: hidden;
}
  
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--roxo);
}
  
.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 180px;
    height: 1px;
    background: rgb(204, 204, 204);
    bottom: 1px;
    left: calc(50% - 90px);
}
  
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--verde);
    bottom: 0;
    left: calc(50% - 20px);
}

@media (max-width: 768px) {
    .conteudo-sobre {
       text-align: center;
       align-items: center;
   }
}

/*
.about .content .btn-learn-more {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: var(--verde);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid var(--verde);
}

.about .content .btn-learn-more:hover {
    background: var(--verde);
    color: #fff;
    text-decoration: none;
}
*/
    


/* INDEX Projeto */
#projeto{
    background-color: var(--cinza-escuro);
}

.botao {
	color: white;
    text-decoration: none;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: var(--roxo);
	border-image-source: var(--verde);
	box-shadow: 5px 5px 0px 0px var(--verde);
}

.botao:hover {
	color: white;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
}
    
@media (max-width: 768px) {
    .conteudo-projeto {
       text-align: center;
       align-items: center;
   }
}

/*--------------------------------------------------------------
#   INDEX Equipe
--------------------------------------------------------------*/

.team-member {
    margin-bottom: 3rem;
    text-align: center;
  }

  .team-member img {
    width: 12rem;
    height: 12rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .team-member a {
    background-color: var(--roxo);
    color: var(--branco);
  }

  .team-member:hover a {
    background-color:var(--verde);
  }

  .team-member h4, .team-member .h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }



/*--------------------------------------------------------------
#   FOOTER
--------------------------------------------------------------*/
 .cor-icone{
    color: var(--verde);
    opacity: 0.6;
 }

 a.cor-icone:hover{
    color: var(--verde);
 }

 a.footer-hover-btn:hover{
    color: var(--verde);
 }

.footer-20192 {
    position: relative;
    color: #fff;
    padding: 1rem;
    background-color: var(--cinza-escuro);
}
 
.footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 10px;
    background-color:#6A5ACD; /*#8186d5*/
    top: -60px;
    position: relative; 
}

.footer-20192 .cta h2, .footer-20192 .cta h3 {
    line-height: 1.5;
}
.footer-20192 .cta h3 {
    font-size: 20px;
}

.copyright { 
    color: grey;
}


/*--------------------------------------------------------------
#   OUTRAS PAGINAS/PARTES   ###################################
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#   SEARCH
--------------------------------------------------------------*/
.size-page{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.title-search{
    text-align: center;
}

.jumbotron1{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #45e7139a;
    border-radius: .3rem;
}


.jumbotron2{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #1399e79a;
    border-radius: .3rem;
}



/*--------------------------------------------------------------
#   USUARIO COMUM
--------------------------------------------------------------*/

.usuarios{
    background-color:rgb(238, 255, 240);
}

.perfil{
    margin-top: auto;
    margin-bottom: auto;
}
  
@media (max-width: 768px) {
   .pricing {
       margin-left: auto;
       margin-right: auto;
       
   }
}


  .pricing {
    font-family: 'Rubik', sans-serif;
    background: var(--roxo);
    max-width: 258px;
    margin-left:auto ;
    padding: 40px 0 20px;
    color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .pricing .img-premium{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }
  .pricing .thumbnail {
    background: #fff;
    /* IE Fall */
    background: rgba(255, 255, 255, 0.2);
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
  }
  .pricing .title {
    cursor: pointer;
    background: var(--verde);
    margin: 20px 0 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .pricing .content {
    display: none;
  }
  .pricing .content .sub-title {
    background: #eee;
    padding: 10px;
    color: #666;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  .pricing .content ul {
    list-style: none;
    background: #fff;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
  }
  .pricing .content ul li {
    padding: 10px 20px;
  }
  .pricing .content ul li:nth-child(2n) {
    background: #f3f3f3;
  }
  .pricing .content ul li .fa {
    width: 16px;
    margin-right: 10px;
    text-align: center;
  }
  .pricing .content ul li .fa-check {
    color: #2ecc71;
  }
  .pricing .content ul li .fa-close {
    color: #e74c3c;
  }
  .pricing .content a {
    display: block;
    background: var(--verde);
    max-width: 110px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .pricing .content a:hover {
    background: #34495e;
    /* IE Fallback */
    background: rgba(52, 73, 94, 0.7);
  }
  .clickMe {
    background: #fff;
    /* IE Fallback */
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 180px;
    left: -60px;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #3498db;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .clickMe:before {
    content: "";
    position: absolute;
    top: 6px;
    right: -5px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5 solid #fff;
    /* IE Fallback */
    border-left: 5px solid rgba(255, 255, 255, 0.8);
  }
  


  
/*--------------------------------------------------------------
#   FORM UPDATE USUARIO COMUM
--------------------------------------------------------------*/

.card-form{
    width: 22.5rem;
}

.form-update{
    margin: auto;
    text-align: center;
    align-items: center;

    transform: translate(-50%, -50%);
    position: absolute;
    top: 30%;
    left: 50%;


}

.body-update{
    background-color: var(--roxo);
}
        
